name: Update-Animes-ID

on:
  schedule:
    - cron: '5 23 * * *'
  workflow_dispatch:
  push:
  pull_request:

jobs:
  Update-Anime-List:
    runs-on: ubuntu-latest
    steps:

      - name: Get current date
        id: date
        run: echo "date=$(date +'+%Y.%m.%d')" >> $GITHUB_OUTPUT

      - name: Check Out Repo
        uses: actions/checkout@v4

      - name: Update Animes-ID
        run: bash animes-id.sh

      - name: Check Diff
        id: verify_diff
        run: |
          git diff --quiet . || echo "changed=true" >> $GITHUB_OUTPUT

      - name: Commit & Push Changes
        if: steps.verify_diff.outputs.changed == 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Update at ${{ steps.date.outputs.date }} UTC" -a
          git push origin main
